<!DOCTYPE html>
<html>
<head>
    <title>Teampomodoro</title>
    <script type="text/javascript" src="//use.typekit.net/mvu2iah.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/h5bp.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css">
</head>
<body>
<header>
    {% if user.is_authenticated %}
        <h3>hello {{ user.username }}</h3>
        <h2><a href="{% url "auth_logout" %}">logout</a></h2>
    {% endif %}
</header>
<section class="content">
    {% block content %}{% endblock content %}
</section>
</body>
</html>