{% extends "base.html" %}

{% block content %}

    <form action="">
        <p>
            <label>Choose a team</label>
            <select>
                <option>test</option>
            </select>
        </p>
        <footer><input type="submit" value="Choose"></footer>
    </form>


    <form action="">
        <p>
            <label>Create a team</label>
            <input type="text">
        </p>
        <footer><input type="submit" value="Create"></footer>
    </form>

    <form action="">
        <p>
            <label>Manage a team</label>
            <select>
                <option>test</option>
            </select>
        </p>
    <footer><input type="submit" value="Choose"></footer>
    </form>

    <form action="">
        <p>
            <label>Username</label>
            <input type="text">
        </p>
        <p>
            <label>Password</label>
            <input type="text">
        </p>
        <footer><input type="submit" value="Login"></footer>
    </form>


    <form action="">

        <h3>Fatih Cekirge</h3>

        <p class="timer">
            25:00
            <em>Working</em>
            <i>20%</i>
        </p>

    </form>



{% endblock content %}